<!DOCTYPE html>
<html>
<head>
    <!-- Vue map implementation with leaflet library-->
    <!-- https://travishorn.com/interactive-maps-with-vue-leaflet-5430527353c8 -->

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Test Vue REST</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- access to database via REST--> 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <!--maps support-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script> -->
  <!-- <script src="https://unpkg.com/vue"></script>  -->

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
     <!-- <script src="./myvue.js"></script>  -->

</head>
<body>

    <div id="app" class="container-fluid">
        <div class = "container">
            <h3> Da db</h3>
            <div v-for="riv in layers.features" v-bind:key="riv.id">
                {{riv.name}} {{riv.latitude}}, {{riv.longitude}}, {{riv.coords}}, {{riv.type}}<br>
            </div>

        </div>
        <div class="row">
            <div class="col-md-9">
            <div id="map" class="map">
            </div>
            </div>
            <div class="col-md-3">
            <!-- The layer checkboxes go here -->
                <div class="form-check" v-for="layer in layers" :key="layer.id">
                <!-- label and input elements go here -->
                <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      v-model="layer.active"
                      @change="layerChanged(layer.id, layer.active)"
                    />
                    {{ layer.name }} 
                  </label>
                </div>
            </div>
        </div>

         <!-- Lista -->
         
    </div>
    

       

    <script>
        vm = new Vue({
            el: '#app',
            data: { 
                /* Data properties will go here */ 
                filtra: '',
                status:[],
                //features:[],
                map: null,
                tileLayer: null,
                layers: [
                 {
                    id: 0,
                    name: 'Senza fissa dimora',
                    active: false,
                    features: [
                    {
                        id: 1,
                        name: 'test',
                        note:' Ha bisogno di coperte ed è diabetico.',
                        type: 'marker',
                        coords: [44.49754,11.34189],
                    },
                    {
                        id: 1,
                        name: 'nome non conosciuto',
                        note:'Si sta aprendo ed inizia a parlare',
                        type: 'marker',
                        coords: [44.49662,11.34079],
                    },
                    {
                        id: 2,
                        name: 'Nico',
                        note:'Parla male l\'italiano, ha voglia di parlare',
                        type: 'marker',
                        coords: [44.49646, 11.34238],
                    },
                    ],
                },
                {
                    id: 1,
                    name: 'Zone di Bologna',
                    active: false,
                    features: [
                    {
                        id: 0,
                        name: 'zona indipendenza',
                        type: 'polygon',
                        coords: [
                        [44.50215,11.33996],
                        [44.49996, 11.3441],
                        [44.49486, 11.3426],
                        [44.49546, 11.33899],
                                 ],
                    },{
                        id: 1,
                        name: 'zona piazza maggiore',
                        type: 'polygon',
                        coords: [
                        [44.49486,11.34119],
                        [44.49438, 11.34382],
                        [44.49311, 11.34388],
                        [44.49374, 11.3406],
                                 ],
                    },
                 ],
                }],
            },
            mounted() { 
                /* Code to run when app is mounted */ 
                //this.loadQuote();
                this.initMap();
                //this.initLayers();
                
            },
            methods: { 
                /* Any app-specific functions go here */
                initMap() {
                    this.map = L.map('map').setView([44.49384, 11.34323], 15);
                    this.tileLayer = L.tileLayer(
                    //'https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}.png',
                    'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                    {
                        maxZoom: 20,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>',
                    }
                    );
                    this.tileLayer.addTo(this.map);
                },
                initLayers() {
                            this.layers.forEach((layer) => {
                                // Initialize the layer
                                const markerFeatures = layer.features.filter(feature => feature.type === 'marker');
                                const polygonFeatures = layer.features.filter(feature => feature.type === 'polygon');
                                markerFeatures.forEach((feature) => {
                                    feature.leafletObject = L.marker(feature.coords)
                                        .bindPopup(feature.name +'<br>'+ feature.note);
                                });
                                polygonFeatures.forEach((feature) => {
                                feature.leafletObject = L.polygon(feature.coords)
                                    .bindPopup(feature.name);
                                });
                            });
                            },
                layerChanged(layerId, active) {
                    /* Show or hide the features in the layer */
                    const layer = this.layers.find(layer => layer.id === layerId);
                    layer.features.forEach((feature) => {
                    /* Show or hide the feature depending on the active argument */
                    if (active) {
                    feature.leafletObject.addTo(this.map);
                    } else {
                    feature.leafletObject.removeFrom(this.map);
                    }
                    });
                },
                loadQuote: function() {
                    //this.status = ;
                    axios.get('http://127.0.0.1/app4food-vue/api/homeless/search.php' , {params: {s:this.filtra}                 
                        }).then((res) => {
                            this.layers.features = res.data.records;
                        }).catch((res) => {
                            this.layers.features = 'Hompless non trovato';
                        })
                },
        },
        created() {
            this.loadQuote();    
            this.initLayers();
 
            },
             
            });
      /* var  vm = new Vue({
            el: '#app',
            data: {
                status:[],
                filtra: 'Italia',
                currentSort:'regione',
                currentSortDir:'asc'
            },
            methods: {
                loadQuote: function() {
                    //this.status = ;
                    axios.get('http://127.0.0.1/geomagazine/api/magazine/search.php' , {params: {s:this.filtra}                 
                        }).then((res) => {
                            this.status = res.data.records;
                        }).catch((res) => {
                            this.status = 'Magazine non trovato';
                        })
                },
                sort:function(s) {
                    //if s == current sort, reverse
                    if(s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
                    }
                    this.currentSort = s;
                }    
            },

            computed:{
                sortedList:function() {
                    return this.status.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                    });
                }
                },
            created: function(){
                this.loadQuote()
                this.sort()
            }
        }) */
    </script>
</body>
</html>
  
</body>
</html>