<!DOCTYPE html>
<html>

<head>
    <!-- Vue map implementation with leaflet library-->
    <!-- https://travishorn.com/interactive-maps-with-vue-leaflet-5430527353c8 -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test Vue REST</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- access to database via REST-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--maps support-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">

    <!-- SVILUPPO-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!--PRODUZIONE -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script> -->
    <!-- <script src="https://unpkg.com/vue"></script>  -->

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <!-- <script src="./myvue.js"></script>  -->

    <!--- form validation-->
    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
            });
            }, false);
            })();
        </script>
</head>

<body>
  
    <div id="app" class="container-fluid">
        <!--for testing -->
        <!--
        <div class="container">
            <button @click="loadDataTest">Simula caricamento dati</button>
            <h3> Da db</h3>
            <div v-for="l in layers" v-bind:key="l.id">
                <div v-for="riv in l.features" v-bind:key="riv.id">
                    {{riv.name}} {{riv.latitude}}, {{riv.longitude}}, {{riv.coords}}, {{riv.type}}<br>
                </div>
            </div>

        </div>
        -->
        
            <!-- the function buttons layer here-->
                 <div id="buttons" class="btn-group" role="group" aria-label="Basic example"> 
                <!-- <a class="btn btn-success" href="./index.html" role="button">Cerca</a> -->
                <!-- <a class="btn btn-info disabled" href="./map.html" role="button"> mappa</a> -->
                <a class="btn btn-info " href="./index.html" role="button"> cerca</a>
                <a class="btn btn-info" href="./map.html" role="button"> mappa</a> 
                <a class="btn btn-info" href="./crea.html" role="button">organizza</a>
                <!-- <a class="btn btn-info" href="./crea.html" role="button">info</a> --> 
                </div>
        
        <!--test-->
       <!-- <div>
            {{postBody.name}} {{postBody.latitude}} {{postBody.longitude} {{postBody.note}} {{postBody.need}} {{postBody.place}}} <br>
        </div> -->
        <!-- form -->
     
            <h4>test</h4>
            <div>{{tmyText}}</div>
           
			<!-- <form class="needs-validation" novalidate action="javascript:createPlants()">  -->
            <form class="needs-validation" novalidate @submit.prevent="postPost">
                <input type="text" v-model="myText"> {{myText }}
                <div >
                    <input type="radio" v-model="mese" v-bind:value="'marzo'"> Marzo
                    <input type="radio" v-model="mese" v-bind:value="'aprile'"> Aprile
                    <input type="radio" v-model="mese" v-bind:value="'maggio'"> Maggio
                    <br/>
                    <input type="checkbox" v-model="tv" v-bind:true-value="'si'" v-bind:false-value="'no'">tv
                    <input type="checkbox" v-model="sauna" v-bind:true-value="'si'" v-bind:false-value="'no'">sauna
                    <br/><br/>
                    {{ mese }} - {{ tv }} - {{ sauna }}
                  </div>
				
                
            
                <!-- <button type="submit" class="btn btn-success">cerca submit</button> -->
                <button type="submit" class="btn btn-success"  > inserisci </button>
                <!-- <button type="button" class="btn btn-success" onclick="createPlants()"> inserisci </button> -->
                <button type="reset" class="btn btn-danger">reset</button>
            </form>
        </div>





    <script>
        const staticData = {
                        "records": [
                            {
                            "id": "1",
                            "name": "pippo",
                            "note": "Ha bisogno di coperte ed è diabetico.",
                            "latitude": "44.4975",
                            "longitude": "11.3419",
                            "type": "marker",
                            "created": "2021-04-11 12:39:39",
                            "modified": "2021-04-15 14:27:45",
                            "coords": [
                                44.4975,
                                11.3419
                            ]
                            },
                            {
                            "id": "2",
                            "name": "non conosciuto",
                            "note": "Si sta aprendo ed inizia a parlare",
                            "latitude": "44.4966",
                            "longitude": "11.3408",
                            "type": "marker",
                            "created": "2021-04-11 12:43:36",
                            "modified": "2021-04-15 14:27:45",
                            "coords": [
                                44.4966,
                                11.3408
                            ]
                            },
                            {
                            "id": "3",
                            "name": "Nico",
                            "note": "Parla male l'italiano, ha voglia di parlare",
                            "latitude": "44.4965",
                            "longitude": "11.3424",
                            "type": "marker",
                            "created": "2021-04-11 12:43:36",
                            "modified": "2021-04-15 14:27:45",
                            "coords": [
                                44.4965,
                                11.3424
                            ]
                            }
                        ]
                        };

        vm = new Vue({
            el: '#app',
            data: {
                /* Data properties will go here */
                //filtra: '',
                //status: [],
                mese: 'marzo',
                tv: 'si',
                sauna: 'no',
                myText:'default',
                tmyText:'pippo',
                // myname:'',
                // mylatitude:'',
                // mylongitude:'',
                // myneed:'',
                // postBody:{
                //     name: 'null',
                //     note:'null',
                //     latitude:'1.0',
                //     longitude:'2.0',
                //     need:'null',
                //     place:'null',
                    //type:'marker'
                //},
                //errors:[],
                //features:[],
                //map: null,
                //tileLayer: null,
                
            },
            mounted() {
                /* Code to run when app is mounted */
                //this.loadQuote();
                //this.initMap();
                //this.initLayers();
                //this.initLayers();
                //this.myTest();
            },
            methods: {
                /* Any app-specific functions go here */

                // mytest
                myTest: function(){
                    tmese =this.mese;
                    console.log(tmese);
                    ttv=this.tv;
                    tsauna=this.sauna;
                    tmyText=this.myText;
                    console.log(tmyText);
                    
                },
                postPost() {
                axios.post(`http://127.0.0.1/app4food-vue/api/homeless/create.php`, {
                mese: this.mese,
                tv: this.tv,
                myText:this.myText   
                
            
                   

                })
                .then(response => {})
                .catch(e => {
                    this.errors.push(e)
                })
                },  

                /* //Get homeless position
                getMyLocation: function() {
                    var displayLat = document.getElementById("latitude");
                    var displayLng = document.getElementById("longitude");
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            var latitude = position.coords.latitude;
                            var longitude = position.coords.longitude;
                            displayLat.value = latitude;
                            displayLng.value = longitude;
                        }, function () {
                            handleLocationError(true, infoWindow, map.getCenter());
                        });
                    } else {
                        // Browser doesn't support Geolocation
                        handleLocationError(false, infoWindow, map.getCenter());
                    }
                }, 
                 // Pushes posts to the server when called.
                postPost() {
                axios.post(`http://127.0.0.1/app4food-vue/api/homeless/create.php`, {
                    body: this.postBody
                })
                .then(response => {})
                .catch(e => {
                    this.errors.push(e)
                })
                },         
                loadDataTest: function(){
                    setTimeout(()=>{
                        this.layers[0].features=staticData.records;
                        this.initLayers()}
                        ,1000);
                },
                loadQuote: function () {
                    //this.status = ;
                    axios.get('http://127.0.0.1/app4food-vue/api/homeless/search.php', {
                        params: { s: this.filtra }
                    }).then((res) => {
                        this.layers[0].features = res.data.records;
                        this.initLayers();
                    }).catch((res) => {
                        this.layers[0].features = 'Hompless non trovato';
                    })
                },
            }, 
        },*/
             },
            created() {
                //this.loadDataTest();
                //this.loadQuote();
                //this.postPost()
                //this.myTest()
              

            },

        });
      /* var  vm = new Vue({
              el: '#app',
              data: {
                  status:[],
                  filtra: 'Italia',
                  currentSort:'regione',
                  currentSortDir:'asc'
              },
              methods: {
                  loadQuote: function() {
                      //this.status = ;
                      axios.get('http://127.0.0.1/geomagazine/api/magazine/search.php' , {params: {s:this.filtra}
                          }).then((res) => {
                              this.status = res.data.records;
                          }).catch((res) => {
                              this.status = 'Magazine non trovato';
                          })
                  },
                  sort:function(s) {
                      //if s == current sort, reverse
                      if(s === this.currentSort) {
                      this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
                      }
                      this.currentSort = s;
                  }
              },
  
              computed:{
                  sortedList:function() {
                      return this.status.sort((a,b) => {
                      let modifier = 1;
                      if(this.currentSortDir === 'desc') modifier = -1;
                      if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                      if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                      return 0;
                      });
                  }
                  },
              created: function(){
                  this.loadQuote()
                  this.sort()
              }
          }) */
    </script>
</body>

</html>

</body>

</html>